<% include ../partials/header %>

<main class="row" style="margin: 63px 0 0 0; background: #eee; height: 100%;">
    <div class="col-12 col-sm-4 col-md-3 col-lg-3" style="padding: 0;">
        <% include ../partials/navbar %>
    </div>
    <div class="col-12 col-sm-8 col-md-9 col-lg-9" style="padding: 0.5rem;">
        <div class="row panel-dashboard">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
                <div class="card card-statistics">
                    <div class="card-body">
                        <div class="clearfix">
                            <div class="float-left">
                                <img src="/images/money.png" alt="">
                            </div>
                            <div class="float-right">
                                <p class="mb-0 text-right">Total Revenue</p>
                                <div class="fluid-container">
                                    <h3 class="font-weight-medium text-right mb-0">222</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
                <div class="card card-statistics">
                    <div class="card-body">
                        <div class="clearfix">
                            <div class="float-left">
                                <img src="/images/mobile.png" alt="">
                            </div>
                            <div class="float-right">
                                <p class="mb-0 text-right">Orders</p>
                                <div class="fluid-container">
                                    <h3 class="font-weight-medium text-right mb-0">333</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
                <div class="card card-statistics">
                    <div class="card-body">
                        <div class="clearfix">
                            <div class="float-left">
                                <img src="/images/sale.png" alt="">
                            </div>
                            <div class="float-right">
                                <p class="mb-0 text-right">Sales</p>
                                <div class="fluid-container">
                                    <h3 class="font-weight-medium text-right mb-0">444</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
                <div class="card card-statistics">
                    <div class="card-body">
                        <div class="clearfix">
                            <div class="float-left">
                                <img src="/images/employee.png" alt="">
                            </div>
                            <div class="float-right">
                                <p class="mb-0 text-right">Employees</p>
                                <div class="fluid-container">
                                    <h3 class="font-weight-medium text-right mb-0"><%= totals[0].total %></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row panel-dashboard" style="margin-top: 0.5rem">
            <div class="col-lg-12 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Orders</h4>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th class="text-center">
                                            Stt
                                        </th>
                                        <!-- <th class="text-center">
                                            Ma Hóa Đơn
                                        </th> -->
                                        <th class="text-center">
                                            Bàn
                                        </th >
                                        <th class="text-center">
                                            Trạng Thái
                                        </th>
                                        <th class="text-center">
                                            Mã Thanh Toán
                                        </th>
                                        <th class="text-center">
                                             Nhân Viên
                                        </th>
                                        <th class="text-center">
                                            Chi Tiết
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% orderTable.forEach(function(order, i) { %>
                                    <tr>
                                        <td class="font-weight-medium text-center">
                                                <%= i + 1 %>
                                        </td>
                                        <!-- <td class="text-center">
                                            <%= order.idhd %>
                                        </td> -->
                                        <td class="text-center">
                                            <%= order.tenban %>
                                        </td>
                                        <td class="text-center">
                                            <%if (order.trangthai == 0) { %>
                                            <label class="badge badge-warning">Not Acive</label>
                                            <% } %>
                                            <%if (order.trangthai == 1) { %>
                                            <label class="badge badge-success">Acive</label>
                                            <% } %>
                                            <%if (order.trangthai == 2) { %>
                                            <label class="badge badge-danger">Pending</label>
                                            <% } %>
                                        </td>
                                        <td class="text-center">
                                            <%= order.mathanhtoan %>
                                        </td>
                                        <td class="text-danger text-center">
                                            <%= order.tennv %>
                                        </td>
                                        <td class="text-center">
                                            <a href="/conno/admin/order/detail/<%= order.idban %>/<%= order.mathanhtoan %>">
                                                <button class="btn"><i class="fas fa-user-edit"></i></button>
                                            </a>
                                        </td>
                                    </tr>
                                    <% }); %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<% include ../partials/footer %>