<% include ../partials/header %>
<main class="row" style="margin: 63px 0 0 0; background: #eee; height: 100vh;">
    <div class="col-12 col-sm-4 col-md-3 col-lg-3" style="padding: 0;">
        <% include ../partials/navbar %>
    </div>
    <div class="col-12 col-sm-8 col-md-9 col-lg-9" style="padding: 0.5rem;">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-header">Chi Tiết Doanh Thu</h4>
                    <form class="forms-sample"
                        action="/conno/admin/doanhthu/detail/<%= arr[0].iddt %>/<%= arr[0].iddt %>" method="POST">
                        <p style="margin: 10px 0" class="card-subtitle mb-2 text-muted">

                        </p>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="text-center">
                                        Mã Doanh Thu
                                    </th>
                                    <th class="text-center">
                                        Ngày
                                    </th>
                                    <th class="text-center">
                                       Tổng Tiền Hóa Đơn
                                    </th>
                                    <th class="text-center">
                                       Tổng Tiền Phiếu Nhập
                                    </th>
                                    <th class="text-center">
                                        Nhân Viên
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <% arr.forEach(function(order, i) { %>
                                <tr>
                                    <td class="font-weight-medium text-center">
                                        <%= arr[i].iddt %>
                                    </td>
                                    <td class="font-weight-medium text-center">
                                        <%= arr[i].ngaylap %>
                                    </td>
                                    <td class="text-center text-info">
                                        <%= arr[i].tbh %> $
                                    </td>
                                    <td class="text-center text-info">
                                        <%= arr[i].tpn %> $
                                    </td>
                                    <td class="text-danger text-center">
                                        <%= arr[i].tennv %>
                                    </td>
                                </tr>
                                <% }); %>
                            </tbody>
                        </table>
                        <button type="submit" id="submit" class="btn btn-success">
                            Save
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
<% include ../partials/footer %>