<% include ../partials/header %>
<main class="row" style="margin: 63px 0 0 0; background: #eee; height: 100%;">
    <div class="col-12 col-sm-4 col-md-3 col-lg-3" style="padding: 0;">
        <% include ../partials/navbar %>
    </div>
    <div class="col-12 col-sm-8 col-md-9 col-lg-9" style="padding: 0.5rem;">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-header">Chi Tiết Nhân Viên</h4>
                    <form class="forms-sample" action="/conno/admin/nhanvien/<%= obj[0].idnv %>" method="POST">
                        <% obj.forEach(function(obj) { %>
                        <p style="margin: 10px 0" class="card-subtitle mb-2 text-muted"><%= obj.idnv %> -
                            <%= obj.tennv %>
                        </p>
                        <div class="form-group">
                            <label for="exampleInputPassword4">cmnd <b style="color: red">*</b></label>
                            <input class="form-control" name="cmnd" type="text" value="<%= obj.cmnd %>">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword4">Tên Nhân Viên <b style="color: red">*</b></label>
                            <input class="form-control" name="tennv" type="text" value="<%= obj.tennv %>">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword4">Giới Tính <b style="color: red">*</b></label>
                            <input class="form-control" name="gioitinh" type="text" value="<%= obj.gioitinh %>">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword4">email <b style="color: red">*</b></label>
                            <input class="form-control" name="email" type="text" value="<%= obj.email %>">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword4">Phone <b style="color: red">*</b></label>
                            <input class="form-control" name="sdt" type="text" value="<%= obj.sdt %>">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword4">Ngày Vào <b style="color: red">*</b> ( 2017-09-20 )</label>
                            <input class="form-control" name="ngayvao" type="text" value="<%= obj.ngayvao %>">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword4">Lương <b style="color: red">*</b></label>
                            <input class="form-control" name="luong" type="text" value="<%= obj.luong %>">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword4">Ca <b style="color: red">*</b></label>
                            <input class="form-control" name="ca" type="text" value="<%= obj.ca %>">
                        </div>
                        <button type="submit" id="submit" class="btn btn-success">
                            UPDATE
                        </button>
                        <% }); %>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
<% include ../partials/footer %>