<% include ../partials/header %>

<main class="row" style="margin: 63px 0 0 0; background: #eee; height: 100%;">
    <div class="col-12 col-sm-4 col-md-3 col-lg-3" style="padding: 0;">
        <% include ../partials/navbar %>
    </div>
    <div class="col-12 col-sm-8 col-md-9 col-lg-9" style="padding: 0.5rem;">
        <div class="row list" style="margin: 0; background: #fff; padding: 0.5rem">
            <ul class="nav nav-tabs" id="myTab" role="tablist" style="width:100%">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                        aria-controls="home" aria-selected="true">Nhân Viên</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                        aria-controls="profile" aria-selected="false">Thêm <i class="fas fa-user-plus"></i></a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent" style="width:100%">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    CMND
                                </th>
                                <th>
                                    Họ Tên
                                </th>
                                <th>
                                    Email
                                </th>
                                <th>
                                    Phone
                                </th>
                                <th>
                                    Ca
                                </th>
                                <th>
                                    Chi Tiết
                                </th>
                                <th>
                                    Xóa
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <% obj.forEach(function(obj) { %>
                            <tr>
                                <td class="font-weight-medium">
                                    <%= obj.Cmnd %>
                                </td>
                                <td>
                                    <%= obj.TenNV %>
                                </td>
                                <td>
                                    <%= obj.Email %>
                                </td>
                                <td>
                                    <%= obj.Sdt %>
                                </td>
                                <td class="text-danger">
                                    <%= obj.Ca %>
                                </td>
                                <td>
                                    <a href="/conno/nhanvien/<%= obj.IdNV %>">
                                        <button class="btn"><i class="fas fa-address-card"></i></button>
                                    </a>
                                </td>
                                <td>
                                    <a href="/conno/nhanvien/delete/<%= obj.IdNV %>">
                                        <button class="btn"><i class="fas fa-trash-alt"></i></button>
                                    </a>
                                </td>
                            </tr>
                            <% }); %>
                        </tbody>
                    </table>
                </div>

                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <%include ../admin/add_nhanvien %>
                </div>
            </div>
        </div>
    </div>
</main>
<% include ../partials/footer %>