<% include ../partials/header %>
<div class="container my-menufood">
    <div class="card card-menufood row nomargin" style="padding: 1rem">
        <div class="cart page" style="margin: 0.5rem">
            <ul class="list-group">
                <% obj1.forEach(function(index, i) { %>
                <li class="list-group-item clearfix"
                    style="display: flex; flex-direction: row; justify-content: space-between; align-items: center">
                    <div class="img-thumbnail" style="width: 100px; height: 100px;">
                        <img class="img-fluid" src="<%= index.hinhanh %>" alt="Responsive image"
                            style="width: 100%; height: 100%;">
                    </div>
                    <div class="col-xs-2">
                        <span><%= index.tenmon %></span>
                    </div>
                    <div class="col-xs-2 text-right">
                        <span class="badge"><%= index.soluong %></span>
                    </div>
                    <div class="col-xs-3 text-right">
                        <%= index.giamon %> $
                    </div>
                </li>
                <% }); %>
            </ul>
        </div>
        <div class="text-right">
            <strong>Total: <%= obj2[0].tongtien %> $</strong>
        </div>
        <!-- <div class="text-right">
            <a href="#" type="button" class="btn btn-success">Checkout</a>
        </div> -->
    </div>
</div>