<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-header">Chi Tiết Nhân Viên</h4>
            <p style="margin: 10px 0" class="card-subtitle mb-2 text-muted"><%= obj[0].TenNV %> - <%= obj[0].GioiTinh %></p>
            <form class="forms-sample" action="/conno/nhanvien/<%= obj[0].TenNV %>" method="GET">
                <% obj.forEach(function(obj) { %>
                <div class="form-group">
                    <label for="exampleInputPassword4">Mã NV</label>
                    <input class="form-control" type="text" placeholder="<%= obj.IdNV %>" readonly>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword4">cmnd</label>
                    <input class="form-control" type="text" placeholder="<%= obj.Cmnd %>" readonly>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword4">Tên</label>
                    <input class="form-control" type="text" placeholder="<%= obj.TenNV %>" readonly>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword4">email</label>
                    <input class="form-control" type="text" placeholder="<%= obj.Email %>" readonly>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword4">Phone</label>
                    <input class="form-control" type="text" placeholder="<%= obj.Sdt %>" readonly>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword4">Ngày Vào</label>
                    <input class="form-control" type="text" placeholder="<%= obj.NgayVao %>" readonly>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword4">Lương</label>
                    <input class="form-control" type="text" placeholder="<%= obj.LuongNV %> $" readonly>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword4">Ca</label>
                    <input class="form-control" type="text" placeholder="<%= obj.Ca %>" readonly>
                </div>
                <% }); %>
            </form>
        </div>
    </div>
</div>