<div class="row list" style="margin: 0; background: #fff; padding: 0.5rem">
    <ul class="nav nav-tabs" id="myTab" role="tablist" style="width:100%">
        <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                aria-selected="true">Quản Lý</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                aria-selected="false">Nhân Viên</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent" style="width:100%">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            MANV
                        </th>
                        <th>
                            CMND
                        </th>
                        <th>
                            Họ Tên
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Phone
                        </th>
                        <th>
                            Sửa
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <% obj.forEach(function(obj) { %>
                    <tr>
                        <td class="font-weight-medium">
                            <%= obj.IdNV %>
                        </td>
                        <td>
                            <%= obj.Cmnd %>
                        </td>
                        <td>
                            <%= obj.TenNV %>
                        </td>
                        <td>
                            <%= obj.Email %>
                        </td>
                        <td class="text-danger">
                            <%= obj.Sdt %>
                        </td>
                        <td>
                            <button (click)="detaiEmpolyeeId()"><i class="fas fa-user-edit"></i></button>
                        </td>
                    </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>

        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            MaNV
                        </th>
                        <th>
                            CMND
                        </th>
                        <th>
                            Họ Tên
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Phone
                        </th>
                        <th>
                            Sửa
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <% obj.forEach(function(obj) { %>
                    <tr>
                        <td class="font-weight-medium">
                            <%= obj.IdNV %>
                        </td>
                        <td>
                            <%= obj.Cmnd %>
                        </td>
                        <td>
                            <%= obj.TenNV %>
                        </td>
                        <td>
                            <%= obj.Email %>
                        </td>
                        <td class="text-danger">
                            <%= obj.Sdt %>
                        </td>
                        <td>
                            <button (click)="detaiEmpolyeeId()"><i class="fas fa-user-edit"></i></button>
                        </td>
                    </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
    </div>
</div>